{% extends "layout.html" %}

{% block content %}

<div id="about">
    <div class="overlay">
        <div class="container">
            <div class="diveit-title">
                <h1 class="title">div[e]it</h1>
                <h2 class="subtitle"><b id="not">not</b> a diving company</h2>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="content">
                <p>We are a diversity agency based in Budapest.</p><br>
                <p>Contact us: <a href="mailto:hello@diveit.co">hello@diveit.co</a></p><br>
                <p>...more coming soon!</p><br>

            </div>
        </div>
    </div>
</div>

{%endblock%}
